.p {
    position: absolute;
    right: 0%;
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 207.692px;
    line-height: 251px;
    color: #282828;
}