@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.mDiv {
    height: 500.83px;
    background-color: #000000;
    color: #fff;
    padding: 70px 0px 0px 100px;
}

.PTagHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
}

.PTagHeader span {
    color: #fd2155;
}

.ImgReact {
    background-color: red;
}