@font-face {
  font-family: Bold;
  src: url(./Inter_Tight/static/InterTight-Bold.ttf);
}

@font-face {
  font-family: Medium;
  src: url(./Inter_Tight/static/InterTight-Medium.ttf);
}

@font-face {
  font-family: LightItalic;
  src: url(./Inter_Tight/static/InterTight-LightItalic.ttf);
}

@font-face {
  font-family: Light;
  src: url(./Inter_Tight/static/InterTight-Light.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: LightItalic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
